*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
background-image: linear-gradient(120deg, rgb(84, 207, 150), white);
color: white;
font-family: "Poppins", sans-serif;
min-height: 100vh;
}
header, form 
{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}
form button{
    color: rgb(84, 207, 150);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background: rgba(226, 91, 73, 0.788);
    color: white;
}

.to-do{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todoo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.todoo li{
     flex: 1; /* this shifted the checkmark button from between towards tarsh */
}
.trash-btn, .complete-btn{
    background: rgb(47, 170, 113) ;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn{
    background: rgba(226, 91, 73, 0.788);
}
.todo-item{
    padding: 0rem 0.5rem;
}
.fa-trash, .fa-check-circle{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select{
    color: rgb(47, 170, 113);
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select::after{
    content: "\25BC";
    position: absolute;
    background: rgb(47, 170, 113);
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}
.select:hover::after{
    background:rgba(226, 91, 73, 0.788) ;
    color: white;
}